*{margin:  0px; padding:  0px;}

img {
  position: relative;
  width:  20%;
  top:  300px;
  left: 60%;
}

body {
 background-image: url(../assets/selfie.jpeg);
 background-repeat: no-repeat;
 background-size: 100%;
}