body {
    margin: 15%;
}

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

/* Portrait: */

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 479px) {
    body {
      font-size: 50px;
    }
      

}

/* Landscape: */

  @media only screen 
    and (min-device-width: 480px) 
    and (max-device-width: 640px) {

      body {
        font-size: 50px;
      }

}