@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');


body {
    background-color: #FAF6EF;
    font-family: sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #6d5f69;
    border: 0;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #494948;
}

span {
    float: left;
    font-size: 2.35rem;
    line-height: 1;
    padding: 2px 5px 3px 5px;
    margin-right: 7px;
    margin-left: 1px;
    border: 2px solid #D57966;
    background-color: #F7E2DA;
  }

  h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #474746;
    border-style: none none solid none;
  }

.frenchie-pic{
    float: right;
  }

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto 0 auto;
  }

.flex-container div {
    width: 30%;
    min-width: 200px;
    height: 100px;
    background-color: #F7E2DA;
    border: 2px solid #D57966;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.flex-container div:nth-of-type(2) {
    margin: 2rem;
  }

.flex-container div:nth-of-type(2) {
    margin-top: 0;
    order: -1;
  }

  p {
      color: #111111;
  }


