#grad1 {
  height: 200px;
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, blue, purple);
}
/*home button decoration*/
.homebutton {
  left: 0px;
  width: 175px;
  padding-top: 20px;
  padding-left: 50px;
  position: fixed;
}

.homebutton a {
  display: block;
  /*margin-bottom: 1em;
  padding: 0.3em 1.25em;*/
  /*border: 1px solid #c2c7cc;*/
  font-family: 'Rubik Microbe', cursive;
  font-size: 4em;
  line-height: 1.667em;
  text-decoration: none;
  color: #a200ff;
  cursor: pointer;
  /*background: #fff;*/
  transition: color,border-color ease 0.3s;
  border-radius: 2em;
}

.homebutton a:hover {
  border-color: #42B6F3;
  color: #42B6F3;
  text-decoration: none;
}

#container {
  text-align: right;
}
ul {    
  display: inline-block;
          font-family: 'Rubik Microbe', cursive;
          font-size: 14px;
          margin-right: 100px;
          margin-top: 80px;
          margin-bottom: 0;
          padding: 0;
          list-style: none;
          text-align: center;
      }

          ul li {
              display: block;
              position: relative;
              float: left;
              text-align: center;
          }

      li ul {
          display: none;
      }

      ul li a {
          display: block;
          text-decoration: none;
          color: purple;
          border-top: 1px solid #ffffff;
          padding: 5px 30px 5px 30px;
          /*background: #1e7c9a;*/
          margin-left: 1px;
          white-space: nowrap;
          text-align: center;
      }

          ul li a:hover {
              background: #3b3b3b;
          }

      li:hover ul {
          display: block;
          position: absolute;
      }

      li:hover li {
          float: none;
          font-size: 11px;
      }

     /* li:hover a {
          background: #3b3b3b;
      }

      li:hover li a:hover {
          background: #1e7c9a;
      }*/

      .sub {
          width: auto;
      }

          .sub li {
              width: 100%;
              text-align: left;
          }

          .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
          }


          * {
            box-sizing: border-box;
          }
          
          body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
          }
          
          .header {
            text-align: center;
            padding: 32px;
          }
          
          .row {
            display: -ms-flexbox; /* IE 10 */
            display: flex;
            -ms-flex-wrap: wrap; /* IE 10 */
            flex-wrap: wrap;
            padding: 0 4px;
          }
          
          /* Create two equal columns that sits next to each other */
          .column {
            -ms-flex: 50%; /* IE 10 */
            flex: 50%;
            padding: 0 4px;
          }
          
          .column img {
            margin-top: 8px;
            vertical-align: middle;
          }
          
          /* Style the buttons */
          .btn {
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #f1f1f1;
            cursor: pointer;
            font-size: 18px;
          }
          
          .btn:hover {
            background-color: #ddd;
          }
          
          .btn.active {
            background-color: #666;
            color: white;
          }